In [152]:
import pandas as pd
import os

pd.options.display.max_columns = None

In [153]:
#FOR PC
df = pd.read_json(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\Old\yelp_academic_dataset_business.json',lines=True)

#FOR MAC
#df = pd.read_json('/Users/garrettpinkston/TIM147/Project/data/yelp_academic_dataset_business.json',lines=True)

#CHECK RESTAURANT, DROP IF NOT
df['categories'] = df['categories'].str.split(", ").tolist()
def checkRestaurant(categories_list):
    if categories_list is not None:
        if 'Restaurants' in categories_list:
            return True
        else:
            return False

df['is_restaurant'] = df['categories'].apply(checkRestaurant)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   business_id    150346 non-null  object
 1   name           150346 non-null  object
 2   address        150346 non-null  object
 3   city           150346 non-null  object
 4   state          150346 non-null  object
 5   postal_code    150346 non-null  object
 6   latitude       150346 non-null  float64
 7   longitude      150346 non-null  float64
 8   stars          150346 non-null  float64
 9   review_count   150346 non-null  int64
 10  is_open        150346 non-null  int64
 11  attributes     136602 non-null  object
 12  categories     150243 non-null  object
 13  hours          127123 non-null  object
 14  is_restaurant  150243 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 17.2+ MB

In [154]:
df = df[df['is_restaurant']==True]

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52268 entries, 3 to 150340
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business_id    52268 non-null  object
 1   name           52268 non-null  object
 2   address        52268 non-null  object
 3   city           52268 non-null  object
 4   state          52268 non-null  object
 5   postal_code    52268 non-null  object
 6   latitude       52268 non-null  float64
 7   longitude      52268 non-null  float64
 8   stars          52268 non-null  float64
 9   review_count   52268 non-null  int64
 10  is_open        52268 non-null  int64
 11  attributes     51703 non-null  object
 12  categories     52268 non-null  object
 13  hours          44990 non-null  object
 14  is_restaurant  52268 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 6.4+ MB