In [3]:
import os

import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv(r'C:\Users\Garrett Pinkston\Desktop\TIM147\Project\data\RestaurantInfoComplete.csv')
df.head(3)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant,checkinDate,starList,useful,funny,cool,StarSlope,population,pop_density,median_income,locations,chain
0,0,0,0,MTSW4McQd7CbVtyjqoe9mw,sthonorepastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","['Restaurants', 'Food', 'Bubble Tea', 'Coffee ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",True,"['2010-08-18 17:05:36', '2010-11-25 17:45:31',...","[4, 4, 3, 4, 3, 4, 5, 4, 4, 5, 5, 4, 4, 3, 3, ...","[6, 1, 1, 2, 2, 5, 1, 5, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[2, 1, 1, 1, 1, 3, 1, 4, 0, 0, 0, 0, 0, 0, 0, ...",0.831331,14984.0,10634.5,59706,1,not
1,1,1,1,CF33F8-E6oudUQ46HnavjQ,sonicdrivein,615 S Main St,Ashland City,TN,37015.0,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","['Burgers', 'Fast Food', 'Sandwiches', 'Food',...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",True,"['2012-12-16 05:27:33', '2013-02-15 04:00:46',...","[4, 4, 1, 1, 2, 1]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]",-3.020524,18979.0,47.1,69514,48,medium
2,2,3,3,bBDDEgkFA1Otx9Lfe7BZUQ,sonicdrivein,2312 Dickerson Pike,Nashville,TN,37207.0,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","['Ice Cream & Frozen Yogurt', 'Fast Food', 'Bu...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",True,"['2011-01-17 15:31:21', '2011-02-23 21:28:08',...","[3, 2, 1, 1, 1, 1, 1, 1, 5, 1]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",-0.477870,40697.0,812.3,300000,48,medium

In [11]:
df['zip'] = pd.to_numeric(df['postal_code'],errors='coerce')
df.dropna(inplace=True)

In [22]:
revisedDf = df[['stars','review_count','is_open','zip','StarSlope','population','median_income','locations','chain']]

In [23]:
revisedDf = pd.get_dummies(revisedDf, columns=['chain'], prefix='chain')
revisedDf.head()

,stars,review_count,is_open,zip,StarSlope,population,median_income,locations,chain_large,chain_medium,chain_mega,chain_not,chain_small
0,4.0,80,1,19107.0,0.831331,14984.0,59706,1,False,False,False,True,False
1,2.0,6,1,37015.0,-3.020524,18979.0,69514,48,False,True,False,False,False
2,1.5,10,1,37207.0,-0.477870,40697.0,300000,48,False,True,False,False,False
3,2.5,28,1,46227.0,-1.412149,57359.0,32765,29,False,True,False,False,False
4,4.5,100,0,33771.0,-0.154502,28174.0,35403,1,False,False,False,True,False

In [24]:
from sklearn.model_selection import train_test_split

x = revisedDf.drop('is_open',axis=1)
y = revisedDf['is_open']
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

In [25]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


rf = RandomForestClassifier(n_estimators=300)
rf = rf.fit(xtrain,ytrain)
predictionRF = rf.predict(xtest)
accuracyRF = round(accuracy_score(ytest, predictionRF)*100,2)

print('Random Forest Classifier acheived max accuracy of {}% on training data using 300 estimators with a 10 K-fold Cross Validation '.format(accuracyRF))

Random Forest Classifier acheived max accuracy of 75.66% on training data using 300 estimators with a 10 K-fold Cross Validation

In [26]:
import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Initialize and train the XGBoost classifier
xg_classifier = xgb.XGBClassifier(n_estimators=300)
xg_classifier.fit(xtrain, ytrain)

# Make predictions on the test set
predictions_xg = xg_classifier.predict(xtest)

# Calculate accuracy
accuracy_xg = round(accuracy_score(ytest, predictions_xg) * 100, 2)

# Print the accuracy
print('XGBoost Classifier achieved max accuracy of {}% on the test data using 300 estimators.'.format(accuracy_xg))

XGBoost Classifier achieved max accuracy of 73.82% on the test data using 300 estimators.

In [ ]:
#SVM
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Assuming xtrain, xtest, ytrain, and ytest are your training and testing data
# Split the data into training and testing sets
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

# Initialize and train the SVM classifier
svm_classifier = SVC(kernel='linear')  # You can choose different kernels like 'rbf', 'poly', etc.
svm_classifier.fit(xtrain, ytrain)

# Make predictions on the test set
predictions_svm = svm_classifier.predict(xtest)

# Calculate accuracy
accuracy_svm = round(accuracy_score(ytest, predictions_svm) * 100, 2)

# Print the accuracy
print('SVM Classifier achieved max accuracy of {}% on the test data.'.format(accuracy_svm))

In [ ]:
# Logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Assuming xtrain, xtest, ytrain, and ytest are your training and testing data
# Split the data into training and testing sets
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

# Initialize and train the Logistic Regression classifier
logreg_classifier = LogisticRegression()
logreg_classifier.fit(xtrain, ytrain)

# Make predictions on the test set
predictions_logreg = logreg_classifier.predict(xtest)

# Calculate accuracy
accuracy_logreg = round(accuracy_score(ytest, predictions_logreg) * 100, 2)

# Print the accuracy
print('Logistic Regression Classifier achieved max accuracy of {}% on the test data.'.format(accuracy_logreg))